*
{
    margin: 2px;
    padding: 0px;   
}
.parent-division
{
    width: 100%;
    float: left;
    margin:20px 3%;
}
.form-parent-container
{
    width: 100%;
    float: left;
    margin:10px;
}
.child-container
{
    width: 48%;
    float: left;
    margin:30px 2% 30px 0%;
}
.label-text
{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.text-box
{
    width: 100%;
    float: left;
    padding: 15px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
.dropdown
{
    background-color: white;
    width: 90%;
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.submit
{
    margin-right: 30px;
    background-color:#00D77E ;
    color: white;
    float: right;
    padding:20px 40px;
    border:none;
    border-radius: 5px;
}
.color
{
    color: red;
}
.table-prop
{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.table-heading-alignment
{
    text-align: left;
    padding: 0px 25px;
}
.head{
    width: 100%;
    float: left;
}